In [ ]:
df = spark.read.csv("/FileStore/tables/superstore-4.csv",header=True,inferSchema=True)
display(df)

In [ ]:
df.createOrReplaceTempView("sample")

In [ ]:
%sql select * from sample

In [ ]:
%sql select count(distinct customer_id) from sample

In [ ]:
%sql select count(distinct customer_id) from sample where order_date between '2024-08-01' and '2024-08-31'

In [ ]:
dbutils.widgets.dropdown("time_period",'Weekly', ['Weekly', 'Monthly'])

In [ ]:
from datetime import date,timedelta,datetime
from pyspark.sql.functions import * 

time_period= dbutils.widgets.get("time_period")
print(time_period)
today = date.today()

if time_period=='Weekly':
    start_date=today-timedelta(days=today.weekday(),weeks=1)-timedelta(days=1)
    end_date=start_date+timedelta(days=6)

else:
    first=today.replace(day=1)
    end_date=first-timedelta(days=1)
    start_date=first-timedelta(days=end_date.day)

print(start_date,end_date)

In [ ]:
display(spark.sql(f"""select count(distinct customer_id) from sample where order_date between '{start_date}' and '{end_date}' """))

In [ ]:
display(spark.sql(f"""select count(distinct order_id) from sample where order_date between '{start_date}' and '{end_date}' """))

In [ ]:
%sql select sum(sales),sum(profit) from sample

In [ ]:
%sql select sum(sales),country from sample
group by 2

In [ ]:
%sql select sum(sales),country,region from sample
group by 2,3
order by 1 desc

In [ ]:
%sql select sum(sales),category from sample
group by 2
order by 1 desc

In [ ]:
%sql select sum(sales),sub_category from sample
group by 2
order by 1 desc

In [ ]:
%sql select sum(sales),sub_category from sample
group by 2
order by 1 desc limit 10

In [ ]:
%sql select sum(quantity),product_name from sample
group by 2
order by 1 desc

In [ ]:
%sql select sum(sales),customer_name,city from sample
group by 2,3
order by 1 desc